[submodule "deps/k"]
    path = deps/k
    url = https://github.com/kframework/k
    ignore = untracked
[submodule "deps/dss"]
    path = deps/dss
    url = https://github.com/makerdao/dss
    ignore = untracked
[submodule "tests/solidity-test/lib/dss-deploy"]
	path = tests/solidity-test/lib/dss-deploy
	url = https://github.com/makerdao/dss-deploy
    ignore = untracked
