[submodule "deps/pandoc-tangle"]
    path = deps/pandoc-tangle
    url = https://github.com/ehildenb/pandoc-tangle
    ignore = untracked
[submodule "deps/k"]
    path = deps/k
    url = https://github.com/kframework/k
    ignore = untracked
